$breakpoint: (
  small: 600px,
);

$color: rgb(232, 63, 64);
$border: 1px solid #ccc;
$borderRadius: 8px;
$font: 'Montserrat';

$spaceXXS: 8px;
$spaceXS: 12px;
$spaceM: 20px;

@mixin tablet { // > 601
  @media (min-width: #{map-get($breakpoint, small)+1}) { @content; }
}